*{
	margin:0;
	padding:0;
}
html, body{
    min-height: 100% !important;
    height: 100%;
}
.Sidebar{
	border: 5px red solid;
  width:30%;
  height:100%;
  font-size:15px;
  color:#ffffff;
  font-weight:bold;
  background-color:black;
  float:left;
  overflow-y: auto;
  align-items: center;
	position:relative;
}
.Body{
  text-align:left;
  font-size:15px;
  color:#f9c81e;
  font-weight:bold;
  background-color:white;
  float: right;
  width:70%;
  height:100%;
  background-image: url(../picture/money.gif);
  background-repeat: no-repeat;
  background-position: right top;
}
.p1{
	background-image: url(../picture/p1.png);
	text-align:right;
	float:down;
	position:absolute;
	bottom:0px;
	right:0px;
}
.p2{
	text-align:right;
	float:down;
}
.gold{
	width:60px;
}
th, tr, table, h2, h3, .news{
	font-family: 'Noto Sans TC', sans-serif;
	
}
th, tr, table{
	border: 5px double blue;
	text-align:center;
}

.inventory{
	width:66%;
	height:25%;
	background-color: black;
	background-image: url(../picture/inventory.png);
	background-repeat: no-repeat;
  	background-position: right top;
  	background-size: 90px;
	top: 0;
	left: 0;
	color: white;
	border: 5px red solid;
	border-bottom: 0px;
}

.transactionRecord{
	width:66%;
	height:25%;
	background-color: black;
	background-image: url(../picture/TranRecord.png);
	background-repeat: no-repeat;
  	background-position: right top;
  	background-size: 90px;
	color: white;
	border: 5px red solid;
	border-bottom: 0px;
}
.news{
	width:100%;
	height: 45.4%;
	overflow-y: auto;
    font-size:20px;
    background-color: black;
	background-image: url(../picture/news.png);
	background-repeat: no-repeat;
  	background-position: right top;
  	background-size: 90px;
    right:0;
    bottom: 0;
    border: 5px red solid;
    
}
.newsTitle{
	background-color: red;
	margin-bottom:0;
}
.fStockTab{
	width:100%;
	height: 50%;
	overflow-y: auto;
}
.total{
	width:31%;
	float: right;
	background-color: black;
}
tr, td{
	margin:0;
	padding:0;
}
.Fin, .Ftr{
	width:100%;
	height:78%;
	overflow-y: auto;
    align-items: center;
    
}
.errorMsg{
	color:red;
	width: 80%;
	float: left;
	
}
.Inull, .TRnull, .FSnull{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 25px;
}